@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:200,400,700|Gloria+Hallelujah&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: "Fira Sans Extra Condensed", sans-serif; }

h1, h2 {
  font-family: "Gloria Hallelujah", cursive; }

header {
  position: relative; }
  header nav {
    background-image: url(../images/bg-tile.gif); }
    header nav .container {
      max-width: 1200px;
      margin: auto;
      height: 20vh;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      header nav .container a {
        text-decoration: none;
        color: #e8c04f;
        text-transform: uppercase; }
        header nav .container a:nth-child(5) {
          color: #4b2707; }
      header nav .container #img_nav {
        background-image: url("../images/logo.png");
        background-repeat: no-repeat;
        position: absolute;
        width: 260px;
        height: 140px;
        top: 3%;
        right: 44%;
        font-size: 0rem; }
    header nav p {
      background-image: url(../images/tiny-donut.png);
      background-repeat: no-repeat;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 10%;
      right: 26.5%;
      font-size: 0rem; }
