@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:200,400,700|Gloria+Hallelujah&display=swap');
@import "scss/image_absolute.scss";
$byad:#f2f3ee;
$limoni:#d17f38;
$sfar: #e8c04f;
$khal: #4b2707;
$title_font: 'Gloria Hallelujah',
cursive;
$text_font: 'Fira Sans Extra Condensed',
sans-serif;

%container {
  max-width: 990px;
  margin: auto;
}

// utiles
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

body {
  font-family: $text_font;
}

h1,
h2 {
  font-family: $title_font;
}


header {
  position: relative;

  nav {
    background-image: url(../images/bg-tile.gif);

    .container {
      @extend %container;
      height: 20vh;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        text-decoration: none;
        color: $sfar;
        text-transform: uppercase;

        &:nth-child(5) {
          color: $khal;
        }
      }

      #img_nav {
        @include image(url("../images/logo.png"), 17rem, 9rem, 3%, 43%);
      }
    }

    p {
      @include image(url(../images/tiny-donut.png), 1.5rem, 1.5rem, 10%, 30%);
    }
  }

  .image_header {
    background-color: $sfar;
    text-align: center;

    img {
      margin: 1.5rem 0rem;
    }

    p {
      @include image(url(../images/fresh-whole-ingredients.png), 10rem, 12rem, 25%, 23.5%);
    }
  }
}

main {
  background-image: url(../images/bg-tile.gif);

  .main_header {
    text-align: center;

    h1 {
      color: $limoni;

      em {
        color: $khal;
      }
    }

    p {
      font-size: 2rem;
      font-weight: 200;
      margin: 0.6rem 0rem;
    }
  }

  .main_whole {
    @extend %container;
    display: flex;

    p {
      max-width: 40rem;

      a {
        color: $sfar;
      }
    }

    .test {
      display: flex;

      img {
        margin: 0rem 1.5rem;
      }
    }
  }

  .divider {
    display: block;
    margin: 3rem auto;
  }

  .main_event {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main_news {
      @extend %section
    }
  }
}

%section {
  .icon {
    @include image (url(../images/icon-news.png), 3rem, 3rem, 115%, 74%)
  }

  .icon2 {
    @include image (url(../images/icon-calendar.png), 3rem, 3rem, 138%, 74%)
  }

  section {
    margin: 1.5rem 0rem 1.5rem 3rem;

    .date {
      color: $sfar;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
      line-height: 1.6;
    }

    a {
      color: $sfar
    }
  }
}
